.wrap{
    margin: 30px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 90vw;                    
}

.box{
    color:#FFF;
    background: #ddd;
    width: 20%;
    line-height: 130px;
    text-align: center;
    margin: 20px;
    cursor: pointer;

}

.red{
   background:rgba(139,0,0,0.5);
}

.scaleX{
transform: scaleX(1);
transition:transform 1s ease-in-out;
}

.box:hover .scaleX{
    transform: scaleX(2);
}

.scaleY{
    transform: scaleY(1);
    transition:transform 1s ease-in-out;
    }
    
    .box:hover .scaleY{
        transform: scaleY(2);
    }
    

    .scale{
    transform: scale(1,1);
    transition:transform 1s ease-in-out;
    }
    
    .box:hover .scale{
        transform: scale(2,2);
    }

    .skewX{
    transform:skewX(1);
    transition:transform 1s ease-in-out;
    }

    .box:hover .skewX{
        transform: skewX(50deg);
    }

        .skewY{
            transform:skewY(10deg);
            transition:transform 1s ease-in-out;
            }
            
            .box:hover .skewY{
                transform: skewY(-20deg);
            }

            .skew{
                transform:skew(1,1);
                transition:transform 0.5 ease-in-out;
                }
                
                .box:hover .skew{
                    transform: skew(-20deg,20deg);
                }
                .translateX{
                    transform: translateX(1em);
                    transition:transform 0.5 ease-in-out;
                    }
                
                    .box:hover .translateX{
                        transform: translateX(2em);
                    }
                .translateY{
                    transform: translateY(1em);
                    transition:transform 0.5 ease-in-out;
                    }
                
                    .box:hover .translateY{
                        transform: translateY(2em);
                    }

                .translate{
                    transform: translate(1em);
                    transition:transform 0.5 ease-in-out;
                    }
                
                    .box:hover .translate{
                        transform: translate(2em, 2em);
                    }
                .matrix{
                    transform: matrix (1, 1, 1, 1);
                    transition:transform 0.5s ease-in-out;
                    }
                
                    .box:hover .matrix{
                        transform: matrix(1,-1, 0, 1, 0, 0);
                    }

                    .rotate{
                        transform: rotate(1);
                        transition:transform 0.5 ease-in-out;
                        }
                    
                        .box:hover .rotate{
                            transform: rotate(180deg);
                        }

